In [18]:
import pandas as pd

In [44]:
df = pd.read_csv('df_sum.csv')

In [45]:
df

,Unnamed: 0,zeitreihe,sum_parked_count,sum_kWh_count,sum_kWh_potential
0,0,2019-04-01 00:00:00-07:00,1,23.52,67.22
1,1,2019-04-01 00:15:00-07:00,1,24.77,67.22
2,2,2019-04-01 00:30:00-07:00,1,26.02,67.22
3,3,2019-04-01 00:45:00-07:00,1,27.27,67.22
4,4,2019-04-01 01:00:00-07:00,1,28.52,67.22
...,...,...,...,...,...
5852,5852,2019-05-31 23:00:00-07:00,4,77.20,87.84
5853,5853,2019-05-31 23:15:00-07:00,4,79.28,87.84
5854,5854,2019-05-31 23:30:00-07:00,4,81.36,87.84
5855,5855,2019-05-31 23:45:00-07:00,4,83.44,87.84
5856,5856,2019-06-01 00:00:00-07:00,4,85.52,87.84